*{
    margin: 0px;
}

/* -----------------------header----------------------- */
header {
    background: #ffffff;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #27ae60;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  header nav ul li {
    margin: 0 15px;
  }
  header nav ul li a {
    overflow: hidden;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: -webkit-text-decoration 1s;
    transition: text-decoration 1s;
    transition: text-decoration 1s, -webkit-text-decoration 1s;
  }
  header nav ul li a:hover {
    -webkit-text-decoration: underline rgb(7, 154, 199);
            text-decoration: underline rgb(7, 154, 199);
  }
  
  #search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  #search-container i {
    font-size: 25px;
  }
  
  #search-container input {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
  }
  
  #icons {
    display: flex;
    align-items: center;
  }
  #icons i {
    font-size: 25px;
  }
  
  #icons img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
  }